#buttonArea > button{
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
textarea {
	resize: none;
	margin:10px 0px 10px 0px;
}
.list-group-item {
	
	padding: 10px;
	border-left: thick solid green;
}
.user {
	font-size: 18px;
}
.desc{
	background-color: #f2f2f2;
}